#root {
  .mainContent {
    overflow: auto;
    position: relative;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
      color: #f99b45;
      font-size: 50px;
    }

    table {
      border-collapse: collapse;
      border-radius: 25px;
      width: 75%;
      margin: 20px auto;
      background-color: white;
      opacity: 0.7;
      max-height: 200px;
      overflow-y: scroll;
      display: table;
      overflow: hidden;

      thead {
        background-color: #f99b45;
        line-height: 50px;
        text-align: center;

        tr {
          display: table;
          width: 100%;
        }

        th {
          width: 33%;
        }
      }

      tbody {
        font-size: 18px;
        display: block;
        overflow-y: scroll;
        max-height: 300px;

        tr:hover {
          background-color: #63aac0;
        }

        tr {
          display: table;
          width: 100%;
        }

        th,
        td {
          padding: 8px;
          text-align: center;
          border-bottom: 1px solid #ddd;
          width: 30%;
        }

        .overdue {
          color: red;
        }

        .invalid {
          border-color: red;
        }
      }
    }

    h3 {
      width: 25%;
      padding: 5px 0;
      border-radius: 15px;
      margin: 20px auto;
      background-color: white;
      opacity: 0.7;
      min-width: 385px;
    }

    button {
      cursor: pointer;
      font-size: 17px;
    }
  }

  .variousInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    gap: 10px;
    background-color: #f99b45;
    opacity: 0.7;
    width: 50%;
    min-width: 335px;
    margin: 0 auto;
    padding: 10px 0;

    input {
      text-align: center;
    }
  }
}

#root::before {
  content: '';
  position: fixed;
  z-index: -1;
  display: block;
  background-image: url('./images/monstera_bg.jpg');
  height: 885px;
  background-size: 100% 100%;
  filter: blur(5px);

  // these are to cover the white borders:
  left: -5%;
  right: -5%;
  top: -1%;
}
